<h1><%= @article.title %></h1>
<p><%= @article.body%></p>

<br>
<%= link_to "Edit" , edit_article_path(@article) %>
<br>
<br>
<%= link_to "Delete" , article_path , 
            method: :delete , 
            data: {confirm: "Are you sure?"} %>
<br>
<h3>Comments</h3>
<% @article.comments.each do |c| %>
    <p><%= c.commentator %> -  <%= c.body %><p>
    <p>
  <%= link_to 'Destroy Comment', [c.article, c],
              method: :delete,
              data: { confirm: "Are you sure?" } %>
</p>
<%end%>
    

<h2>Add comment<h2>
<%= render "comments/form" %>
